ici-workspace/Practica4/src/es/ucm/fdi/ici/c2526/practica4/grupoYY/mspacman/plaintextconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TextFileConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="Delimiters" type="xs:string" />
				<xs:element name="DescriptionClassName" type="xs:string" />
				<xs:element name="DescriptionMappings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Map" maxOccurs="unbounded" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SolutionClassName" type="xs:string" />
				<xs:element name="SolutionMappings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Map" maxOccurs="unbounded" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResultClassName" type="xs:string" />
				<xs:element name="ResultMappings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Map" maxOccurs="unbounded" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>